{% extends "dashboard/authentication/base-authentication.html.twig" %}
{% block body %}
    <div class="form-container-background">
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}" class="chess-board-img" alt="chessboard background image"/>
        <img src="{{ asset('assets/dashboard-ui/authentication/assets/images/chess-board.png') }}" class="chess-board-img" alt="chessboard background image" />
    </div>
    <div>
        <form method="POST" class="needs-validation login__form" novalidate="" autocomplete="off">
            <h3>{% trans %}dashboard.login.title{% endtrans %}</h3>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <label for="email">{% trans %}dashboard.authentication.login.email{% endtrans %}</label>
            <input
                    id="email"
                    type="email"
                    required
                    name="email"
                    value="{{ last_username }}"
                    autocomplete="email"
                    autofocus
            >

            <label for="password">{% trans %}dashboard.authentication.login.password{% endtrans %}</label>
            <input
                    type="password"
                    name="password"
                    required
                    class="login__input"
                    id="password"
                    autocomplete="current-password"
            >
            <button class='login-button' type="submit" >{% trans %}dashboard.authentication.login.submit{% endtrans %}</button>
            <a href="#" class="forgot password">{% trans %}dashboard.authentication.login.forgotPassword{% endtrans %}</a>

{#            <button type="button">{% trans %}dashboard.authentication.register{% endtrans %}</button>#}
{#            #TODO Future improvement #}
{#            <div class="social" disabled>#}
{#                <div class="go"><i class="fab fa-google"></i>  Google</div>#}
{#                <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>#}
{#            </div>#}
        </form>
    </div>
{% endblock %}
