{% extends "dashboard/authentication/base-email-template.html.twig" %}
{% block content %}
    <tr>
        <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;" bgcolor="#ffffff">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                <tr>
                    <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 25px;">
                        <h2 style="font-size: 30px; font-weight: 800; line-height: 36px; color: #333333; margin: 0;">
                            {% trans %}dashboard.authentication.resetPassword.email.template.description{% endtrans %}
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 10px;">
                        <a href="{{ url('app_reset_password', {'token': token, 'emailValue': emailValue}) }}"
                           class="button button-additional">{% trans %}dashboard.authentication.resetPassword.email.template.submit{% endtrans %}
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}