{% extends "../base-authentication.html.twig" %}
{% block body %}
    <div class="form-container form-register-container">
        Regulamin Serwisu szachowymistrz.pl
        1. Postanowienia ogólne
        1.1. Niniejszy regulamin określa zasady korzystania z serwisu szachowymistrz.pl.
        1.2. Rejestracja w serwisie oznacza akceptację niniejszego regulaminu.

        2. Rejestracja i konto użytkownika
        2.1. Aby utworzyć konto, użytkownik musi podać prawdziwe dane osobowe.
        2.2. Każdy użytkownik może posiadać tylko jedno konto.
        2.3. Użytkownik zobowiązany jest do zachowania poufności swojego hasła.

        3. Korzystanie z serwisu
        3.1. Użytkownik zobowiązuje się do korzystania z serwisu w sposób zgodny z prawem oraz dobrymi obyczajami.
        3.2. Zabrania się publikowania treści obraźliwych, wulgarnych, naruszających prawa innych osób oraz niezgodnych z prawem.
        3.3. Administracja serwisu ma prawo do usuwania treści naruszających regulamin oraz do blokowania kont użytkowników łamiących regulamin.

        4. Odpowiedzialność
        4.1. Administracja serwisu nie ponosi odpowiedzialności za treści publikowane przez użytkowników.
        4.2. Użytkownik ponosi pełną odpowiedzialność za swoje działania w serwisie.

        5. Polityka prywatności
        5.1. Dane osobowe użytkowników są przetwarzane zgodnie z obowiązującymi przepisami prawa o ochronie danych osobowych.
        5.2. Szczegółowe informacje na temat przetwarzania danych osobowych znajdują się w Polityce Prywatności serwisu.

        6. Zmiany regulaminu
        6.1. Administracja serwisu zastrzega sobie prawo do wprowadzania zmian w regulaminie.
        6.2. O wszelkich zmianach regulaminu użytkownicy będą informowani na stronie głównej serwisu.

        7. Kontakt
        7.1. Wszelkie pytania dotyczące regulaminu oraz działania serwisu należy kierować na adres e-mail: kontakt@szachowymistrz.pl.
    </div>
{% endblock %}
